body {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 25%;
    height: 2rem;
    padding: 1rem;
}

#toggle {
    -webkit-appearance: none;
    appearance: none;
    height: 40px;
    width: 75px;
    background-color: #15181f;
    position: absolute;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

#toggle:after {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #ffffff;
    top: 5px;
    left: 7px;
    border-radius: 50%;
}

.dark-theme {
    background-color: #15181f;
    color: #e5e5e5;
}

.dark-theme #toggle {
    background-color: #ffffff;
}

.dark-theme #toggle:after {
    background-color: transparent;
    box-shadow: 10px 10px #15181f;
    top: -4px;
    left: 30px;
}