/* Main box */

.mainbox-tab {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;

    place-content: center;
    place-items: center;
    padding: 1rem 0;
}

.img-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.manga-card__image {
    width: 70%;
    height: 20%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.409) 5px 6px 10px;
}

.manga-card__title,
.manga-card__description {
    width: 100%;
    padding-left: 15%;
}


#card-price {
    color: rgb(180, 41, 41);
}

/* End Main box */



.tabs-buttons {
    margin-top: 2rem;
}

.tabs-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.tabs-buttons>ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style-position: inside;
    padding-left: 0;
}

#Tabs-Btns-ul {
    max-width: 10rem;

    display: flex;
    flex-direction: row;

    overflow-x: auto;
    overflow-y: hidden;

    scrollbar-width: none;
    -ms-overflow-style: none;

    /* padding to dont display scrollbar */
    padding-bottom: 1rem;

}

.tabs-buttons>hr {
    width: 100%;
}

.tabs-buttons>ul>.tab-button {

    display: flex;
    align-items: center;
    justify-content: center;

    width: 1rem;
    height: 1rem;

    padding: 0.5rem;
    border-radius: 40%;

    font-weight: bold;

    color: #f5f5f5;
    background-color: rgb(180, 41, 41);
}

.tabs-buttons>ul>.prev-next {

    display: none;
    align-items: center;
    justify-content: center;

    width: 1rem;
    height: 1rem;

    padding: 0.5rem;
    border-radius: 40%;

    font-weight: bold;

    color: #f5f5f5;
    background-color: rgb(180, 41, 41);
}

.tabs-buttons>ul>span {
    display: flex;
    justify-content: center;

    width: 1rem;
    height: 1rem;

    padding: 0.5rem;

    font-weight: bold;

    color: #050505;

    display: none;
}


/* BUTTONS TABS */

.tab-button {
    cursor: pointer;
}

#more-tabs {
    display: none;
}

#prev,
#next {
    display: none;
}



@media screen and (max-width: 768px) {
    #Tab {
        grid-template-columns: 1fr 1fr;
    }

    #search_box {
        display: none;
    }

    .filter {
        display: none;
    }

    .manga-card__title,
    .manga-card__description {
        width: 100%;
    }

    .manga-card__title {
        padding-left: 0%;
        text-align: center;
    }

    .manga-card h3,
    .manga-card p {
        font-size: 0.8rem;
    }
}