.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--black);
    color: var(--white);
    padding: 2rem;
    height: 40%;
}

.social-media-logos {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}