.manga-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    position: relative;
    transition: all 0.3s ease-in-out;
}


/* IMG DIV CONTAINER*/

.img-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;

    width: auto;
    height: auto;

    max-width: 70%;
    max-height: 70%;

    padding: 1rem 0;
    box-shadow: rgba(0, 0, 0, 0.409) 5px 6px 10px;

    border-radius: 10px;
}


@media screen and (max-width: 1024px) {
    .img-box {
        max-width: 100%;
        max-height: 100%;
    }
}


/* Manga IMG */

.manga-card__image {
    width: 70%;
    height: 100%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.409) 5px 6px 10px;
    filter: none;
    transition: filter 0.3s ease-in-out;
}


.manga-card__bottom {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 70%;
    align-self: center;
    justify-self: center;
    margin-top: 1rem;
}

.manga-card__image.blur {
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}


.Cart-Button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85%;

    background-color: #050505;
    color: #F5F5F5;

    font-weight: 500;
    font-size: 1.2rem;
    height: 2.5rem;
    border: none;
    border-radius: 0.4rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;

}

.Cart-Button:hover {
    background-color: #F5F5F5;
    color: #050505;
    border: solid 0.13rem #050505;

}

.Wish-Button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;

    background-color: rgb(216, 5, 5);
    color: #F5F5F5;

    font-size: 1.2rem;

    font-size: 1.2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.Modal-Info {
    display: none;
    flex-direction: column;
    padding: 2rem 0.5rem;
    color: #F5F5F5;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    transition: all 0.3s;
    background-color: #1a1919;
    transition: all 0.3s ease-in-out;

    color: #F5F5F5;
    text-align: center;

    border-radius: 0.5rem;
}

.Modal-Info.show {
    position: absolute;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
    animation: modalinfo 0.4s ease-in-out;
}

@keyframes modalinfo {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}