/* Main manga card container */

.manga-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    transition: all 0.3s ease-in-out;
    position: relative;
}


/* --------------------------------------- */


/* Image container */

.manga-card__img-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;

    width: auto;
    height: auto;

    max-width: 70%;
    max-height: 70%;

    padding: 1rem 0;
    box-shadow: rgba(0, 0, 0, 0.409) 5px 6px 10px;

    border-radius: 0.8rem;
    position: relative;
}

/* Transition on hover */

.manga-card__img-box:hover {
    transform: scale(1.01);
    transition: all 0.4s ease-in-out;
}

/* Disable transition on mobile */

@media screen and (max-width: 768px) {
    .manga-card__img-box {
        max-width: 100%;
        max-height: 100%;
    }
}

@media screen and (max-width: 1024px) {

    .manga-card__img-box:hover {
        transform: none;
    }
}

/* --------------------------------------- */


/* Main image*/

.manga-card__image {
    width: 70%;
    filter: none;
    transition: filter 0.3s ease-in-out;
}

.manga-card__image.gray {
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}

/* --------------------------------------- */



/* Manga card Bottom container */

.manga-card__bottom {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 70%;
    margin-top: 1rem;
}

/* media screen with min-width and max-width*/

@media screen and (max-width: 1024px) {
    .manga-card__bottom {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .manga-card__bottom {
        width: 100%;
        margin-bottom: 2rem;
    }
}

/* ---------------------------------------- */


/* Bottom container: Details button */

.bottom__details-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;

    background-color: #1a1a1aeb;
    color: var(--white);

    font-weight: 600;
    font-size: 1.1rem;

    height: 2.5rem;
    border: none;
    border-radius: 0.4rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

/* Effect on hover */

.bottom__details-btn:hover {
    background-color: var(--white);
    color: #1a1a1aeb;
    border: solid 0.13rem #1a1a1aeb;
}

@media screen and (max-width: 1024px) {
    .bottom__details-btn {
        font-size: 0.8rem;
        width: 90%;
    }
}


/* ------------------------------------- */

/* Bottom container: Wish button */

.bottom__wish-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;

    background-color: var(--red);
    color: var(--white);

    font-size: 1.2rem;

    font-size: 1.2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}


@media screen and (max-width: 1024px) {

    .bottom__wish-btn {
        min-width: 2.2rem;
        min-height: 2.5rem;
    }

    .wish__btn-img {
        width: 25px;
        height: 25px;
    }
}


/* ------------------------------------- */