/* Main div */

.nav-bar__main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* HR BAR */

.nav-bar__main-div>hr {
    margin-top: -0.2rem;
    width: 100%;
}

/* Navbar div */

.nav-bar__div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

/* Title / left */

.nav-bar__title-div {
    width: 20%;
}

.nav-bar__title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--black);
}

/* ----------------- */


.nav-bar__search-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.search-bar__input {
    height: 2rem;
    color: var(--black);
    width: 40%;
    padding: 0.2rem 0 0.2rem 1rem;
    font-size: larger;
    border-radius: 0.3rem 0rem 0rem 0.3rem;
    border: solid 1px;
    border-color: var(--black);
}


.search-bar__button {
    background-color: var(--red);
    color: var(--white);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 2rem;
    padding: 0.2rem 0;
    border: solid 1px;
    border-color: var(--black);
    border-radius: 0rem 0.3rem 0.3rem 0rem;
    cursor: pointer;
}



.nav-bar__filter-div {
    background-color: var(--white);
    color: var(--red);

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
}

.filter__sub-div {
    display: none;
}