:root {
    --red: #d80505;
    --white: #F5F5F5;
    --black: #050505;
}


html {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--white);
    margin: 0;
}

.main {
    padding: 1rem 10% 2rem;
}